<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style_Nosotros.css">
    <title>Inicio</title>
</head>
<body>
    <header class="header">
        <a href="#" class="logo">Logo</a>
        <nav>
            <a href="Index.html">Inicio</a>
            <a href="#" class="active">Nosotros</a>
            <a href="#">Contactos</a>
            <a href="#">Historia</a>
            <a href="#">Mas</a>
        </nav>
    </header>
    <section class="Nosotros">
        <div class="Nosotros_container">
            <h1>Hi, Im Angel</h1>
            <h2>Developer</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi blanditiis, adipisci corporis vitae consequatur distinctio maxime recusandae animi. Odit porro non ab nemo voluptates tempore iure aspernatur obcaecati laborum veniam.</p>
            <div class="btn-box">
                <a href="#">Ver mas</a>
                <a href="#">Informacion</a>
            </div>
        </div>
    </section>
</body>
</html>